// Place all the styles related to the useronly controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.devise_wrapper {
    background-color: rgba(200, 200, 200, 0.9);
    padding: 5px;
    dislay: inline-block;
    border-radius: 5px;
}