// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body { 
    background-color: #eee; 
    padding: 25px; 
    //font: 24px Helvetica;
    height: 100%;
    width: 100%;
}

.navbar {
    a{
        border: 1px solid #404040;
        padding: 2px 4px;
        border-radius: 3px;
        background-color: #e0e0e0;
        transition: box-shadow 0.3s, background-color;
        box-shadow: -1px 1px 1px 0px rgba(80, 80, 80, 0.5), inset  -1px 1px 3px 3px rgba(255, 255, 255, 0.8), inset  1px -1px 3px 3px rgba(128, 128, 128, 0.5)
    }
    a:hover {
        box-shadow:inset  -1px 1px 4px 2px rgba(255, 255, 255, 1), inset 1px -1px 2px 2px rgba(128, 128, 128, 0.3);
        background-color: #f0f0d0;
    }
}

#equation_view {
  background-color: yellow;
  width: 50%;
  height: 490px;
  background: rgba(220,220,220,0.9); 
  border-radius: 5px;
  padding: 5px;
  margin-right: 4px;
}

#tree_view {
  background-color: skyblue;
  width: 50%;
  height: 490px;
  background: rgba(220,220,220,0.9); 
  border-radius: 5px;
  padding: 5px;
  margin-left: 4px;
}

#scratchpad_flex {
   min-height: 500px;
   margin: 0px;
   padding: 0px;
   display: -webkit-flex;
   display:         flex;
   -webkit-flex-flow: row;
           flex-flow: row;
}   

#scratchpad_flex > nav {
    margin: 4px;
    padding: 5px;
    border: 1px solid #8888bb;
    border-radius: 7pt;
    background: #ccccff;
    word-wrap: break-word;
    -webkit-flex: 1 6 20%;
           flex: 1 6 20%;
    -webkit-order: 1;
           order: 1;
    flex: 0 0 150px;

    .button1 {
    display: inline-block;
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
    padding: 2px 5px;
    margin-bottom: 20px;
    color: #ccc;
    background-color: #555;
    background: -webkit-linear-gradient(#888, #555);
    background: linear-gradient(#888, #555);
    border: 0 none;
    border-radius: 3px;
    text-shadow: 0 -1px 0 #000;
    box-shadow: 0 1px 0 #666, 0 5px 0 #444, 0 6px 6px rgba(0,0,0,0.6);
    cursor: pointer;
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
    overflow: hidden;
    }

    .button1:hover, button:focus
    {
        -webkit-animation: pulsate 1.2s linear infinite;
        animation: pulsate 1.2s linear infinite;
    }

    @-webkit-keyframes pulsate
    {
        0%   { color: #ddd; text-shadow: 0 -1px 0 #000; }
        50%  { color: #fff; text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff; }
        100% { color: #ddd; text-shadow: 0 -1px 0 #000; }
    }
            
    @keyframes pulsate
    {
        0%   { color: #ddd; text-shadow: 0 -1px 0 #000; }
        50%  { color: #fff; text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff; }
        100% { color: #ddd; text-shadow: 0 -1px 0 #000; }
    }

    .button1:active
    {
        color: #fff;
        text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff;
        box-shadow: 0 1px 0 #666, 0 2px 0 #444, 0 2px 2px rgba(0,0,0,0.9);
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
        -webkit-animation: none;
        animation: none;
    }
}

#scratchpad_view {
   margin: 4px;
   padding: 8px;
   height: 500px;
   border-radius: 7pt;
   background: rgba(100,100,100,0.9); 
   display: flex;
   justify-content: space-between;
   -webkit-flex: 3 1 60%;
           flex: 3 1 60%;
   -webkit-order: 2;
           order: 2;
}

#scratchpad_flex > aside {
   margin: 4px;
   padding: 5px;
   border: 1px solid #8888bb;
   border-radius: 7pt;
   background: #ccccff;
   word-wrap: break-word;
   -webkit-flex: 1 6 20%;
           flex: 1 6 20%;
   -webkit-order: 3;
           order: 3;
    flex: 0 0 150px;
}

header, footer {
   display: block;
   margin: 4px;
   padding: 5px;
   //min-height: 100px;
   border: 1px solid #eebb55;
   border-radius: 7pt;
   background: #ffeebb;
}

/* Too narrow to support three columns */
@media all and (max-width: 1300px) {
  
   #scratchpad_flex, #page {
    -webkit-flex-flow: column;
            flex-direction: column;
   }

   #scratchpad_flex > #scratchpad_view, #scratchpad_flex > nav, #scratchpad_flex > aside {
    /* Return them to document order */
    -webkit-order: 0;
            order: 0;
   }
  
   #scratchpad_flex > nav, #scratchpad_flex > aside, header, footer {
    min-height: 50px;
    flex: 0 0 auto;
   }
}
