<h1>Useronly#usertest</h1>
<p>Find me in app/views/useronly/usertest.html.erb</p>
<p>Because this file is in the controller "useronly". All pages under the "useronly" controller require the user to be logged in.</p>
<p>Congratulations! You're logged in!<%= current_user.email %></p>