<h1>About</h1>
<h2>  Algebreezy: </h2> 

<p><h4>
Algebreezy is a web application that aims to make 
algebraic manipulations easier to manage. It aims to help 
students by showing them what manipulations are available and 
valid, and it aims to help experts by preventing them from making 
mistakes. 
</h4></p>

<h2> The Scratchpad: </h2>

<p> <h4>
Algebreezy users have access to a scratchpad where they can 
enter and view their mathematical equations on screen. The equation will
also be graphically shown to users in the structure of a tree. This tree
has a post traversal order that depicts their mathematical equation. 
</h4>
</p>

<h2> Benefits </h2>
 <h4>
 <li>Be able to save and download scratchpad</li>
 <li>Create an account to maintain a profile with the service</li>
 <li>Easily manipulate algebraic equations using scratchpad</li>
 <li>Add comments in between operations to clarify your work</li>
 <li>All work is saved in between sessions</li>
 <li>View your equations as a tree representation</li>

 </h4>