<div class="dashboard">
	<table style="width:100%">
		<thead>
			<tr>
				<th class="th_short">Title</th>
				<th class="th_long">Date Created</th>
				<th class="th_short"></th>
			</tr>
		</thead>
		<% records.each do |record| %>
		<tbody>
			<tr>
				<td><%= record.title %></td>
				<td><%= record.created_at.strftime("%b %d, %Y") %></td>
				<td><%= link_to 'View Scratchpad', '/scratchpad/'+record.id.to_s %> <br></td>
			</tr>
		</tbody>
		<% end %>
	</table>
</div>
<form action="/create_scratchpad" method='POST'>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <label>Create a new scratchpad: <input type="submit" value="Create!"></label>
</form>