<h1>Help</h1>

<h2><p>Navigating from:</p></h2>


<h4>Home</h4>
 <h5><p>This page is the Algebreezy's welcome page.
 Here you can either sign up or login to the website
 in order to begin solving mathematical equations on our
 scratchpad. On the top left corner you will see a "More"
 button that will have a drop down menu contained with other
 links to navigate throughout the website. A user will
 not have to have an existing account therefore the public
 will have access to these pages. 
 </p>
 
 <p>On the top right corner is a "Login" button that will
 lead you to a login page for users that have an existing account.
 The top center is our clickable logo that will always lead you back
 to the home page. 
 </p></h5>

<h4>Scratchpad</h4>

<h5><p>With your own personal scratchpad on the left and your
tree representation on the right, users will be able to 
type in their mathematical equations in a input box placed
at the bottom of the page.</p>
</h5>