<!DOCTYPE html>
<!--
	This is the Barebones GUI for Algebreezy.
	How to use it:
		1. Enter text into the second textbox.
		2. Click enter.
		3. Clone the text into the first textbox.
	
	Notes:
		- The first text box scrolls infinitely as more text is entered.
		  This is a barebones emulation of the infinite piece of paper end-goal.
-->
<html>
<head>
<style>
	<title>Barebones GUI</title>
    <script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'scratchpad_scripts', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</style>
</head>
<body background = "images/Dark-Blue-Abstract-Painting-14-Wallpaper-Background-Hd.jpg">
    <div id="scratchpad"></div><br>
    <label>Please enter an equation:</label>
	<input type="text" id="myEquation">
	<button onclick="display_equation()">Enter</button>
</body>
</html>

