<div ng-app="Algebreezy" ng-controller="MainCtrl">
    <header>header</header>
    <div id='scratchpad_flex'>
        <div id='scratchpad_view'>
            <div id='equation_view'>
            </div>
            <div id='tree_view'>
                <svg id="svgelem" style='height:100%; width:100%;'
                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                </svg>
            </div>
        </div>
        <div id="sidebar-left">
            <label><input type="checkbox" id="cbox1">Make public?</label>
            <input type="text" id="scratchpad-title" placeholder="title">
            <button type="button" class="button1" ng-click="request_save()">Save</button>
        </div>
        <div id="sidebar-right">
            aside
        </div>
    </div>
<footer>
    <label>Please enter an equation:</label>
    <input type="text" id="myEquation" ng-keypress="displayEqnKey($event)">
    <button ng-click="display_equation()">Enter</button>
</footer>
<footer>
    <label>Comment your work:</label>
    <input type="text" id="myComment" ng-keypress="displayCommentKey($event)">
    <button ng-click="display_comment()">Enter</button>
</footer>
</div>