
<!--
	This is the Barebones GUI for Algebreezy.
	How to use it:
		1. Enter text into the second textbox.
		2. Click enter.
		3. Clone the text into the first textbox.
	
	Notes:
		- The first text box scrolls infinitely as more text is entered.
		  This is a barebones emulation of the infinite piece of paper end-goal.
-->
​<!DOCTYPE html>
<html lang="en">
  <head>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <script src="app.js"></script>
    <style>

  body {
   font: 24px Helvetica;
   background: "images/Dark-Blue-Abstract-Painting-14-Wallpaper-Background-Hd.jpg";
  }

  #main {
   min-height: 800px;
   margin: 0px;
   padding: 0px;
   display: -webkit-flex;
   display:         flex;
   -webkit-flex-flow: row;
           flex-flow: row;
   }
 
  #main > article {
   margin: 4px;
   padding: 5px;
   border: 1px solid #cccc33;
   border-radius: 7pt;
   background: #dddd88;
   -webkit-flex: 3 1 60%;
           flex: 3 1 60%;
   -webkit-order: 2;
           order: 2;
   }
  
  #main > nav {
   margin: 4px;
   padding: 5px;
   border: 1px solid #8888bb;
   border-radius: 7pt;
   background: #ccccff;
   -webkit-flex: 1 6 20%;
           flex: 1 6 20%;
   -webkit-order: 1;
           order: 1;
   }
  
  #main > aside {
   margin: 4px;
   padding: 5px;
   border: 1px solid #8888bb;
   border-radius: 7pt;
   background: #ccccff;
   -webkit-flex: 1 6 20%;
           flex: 1 6 20%;
   -webkit-order: 3;
           order: 3;
   }
 
  header, footer {
   display: block;
   margin: 4px;
   padding: 5px;
   min-height: 100px;
   border: 1px solid #eebb55;
   border-radius: 7pt;
   background: #ffeebb;
   }
 
  /* Too narrow to support three columns */
  @media all and (max-width: 800px) {
  
   #main, #page {
    -webkit-flex-flow: column;
            flex-direction: column;
   }

   #main > article, #main > nav, #main > aside {
    /* Return them to document order */
    -webkit-order: 0;
            order: 0;
   }
  
   #main > nav, #main > aside, header, footer {
    min-height: 50px;
    max-height: 50px;
   }
  }

 </style>
  </head>
  <body ng-app="Algebreezy" ng-controller="MainCtrl">
 <header>header</header>
 <div id='main'>
    <article>article</article>
    <nav>nav</nav>
    <aside>aside</aside>
 </div>
 <footer>footer</footer>
  </body>
</html>
	<title>Barebones GUI</title>
    <script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'scratchpad_scripts', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</style>
</head>
<body background = "images/Dark-Blue-Abstract-Painting-14-Wallpaper-Background-Hd.jpg">
    <div id="scratchpad"></div><br>
    <label>Please enter an equation:</label>
	<input type="text" id="myEquation" ng-keypress="displayEqnKey($event)">
	<button ng-click="display_equation()">Enter</button>
</body>
</html>

