<h1>Meet the team </h1>

<h2>Carl Eadler </h2>

<h4>
 <li>Algebreezy Product Owner</li>
 <li>Algebreezy Parser and Grammer Coordinator</li>
 <li>Fourth year Math Major</li>
 <li>Fourth year Computer Science Major/Minor</li>

</h4>

<h2>Zach Ward</h2>

<h4>
 <li>Algebreezy Sprint One Scrum Master</li>
 <li>Algebreezy JavaScript Sensei</li>
 <li>Fifth year Math Major</li>
 <li>Fifth year Computer Science Major/Minor</li>
</h4>

<h2> Kenneth Lee</h2>
<h4>
 <li>Algebreezy Sprint Two Scrum Master</li>
 <li>Algebreezy GUI Developer</li>
 <li>Fifth year Computer Science Major</li>
 
</h4>

<h2>Bryant Ng</h2>
<h4>
 <li>Algebreezy Sprint Three Scrum Master</li>
 <li>Algebreezy Ruby Navigator</li>
 <li>Fourth year Computer Science Major</li>
 
</h4>

<h2>Susie Kim</h2>
<h4>
 <li>Algebreezy Sprint Three Scrum Master</li>
 <li>Algebreezy Web-Server Engineer</li>
 <li>Fifth year Computer Science Major</li>
 
</h4>